/* Google */
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Inter:wght@300;400;500;600&family=Roboto&display=swap');


*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    font-family: 'Hedvig Letters Serif', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 100;
    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightsalmon;
}